.footer {
    padding: 66px 0;

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__text {
        max-width: 186px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
    }

    &__list {
        &__title {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.36px;
        }

        a {
            font-size: 16px;
            font-weight: 500;
            line-height: 19.36px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;

            svg {
                font-size: 40px;
            }
        }
    }
}

@media (max-width: 855px) {
    .footer {
        &__container {
            flex-wrap: wrap;
            gap: 25px;
        }
    }
}